.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* 允許子元素換行 */
  margin-bottom: 5vh;
  width: 100%;


  @media only screen and (max-width: 1280px) {
    .team {
      flex-basis:40%; 
      margin: 1vh auto;
    }
  }


  @media only screen and (max-width: 768px) {
    flex-direction: column; /* 讓.team從上到下排列 */

  }

  .team {
    width: 17.5%;
    height: 100%;
    margin: 2vh;

    @media only screen and (max-width: 768px) {
      width: 75%; 
      margin-left: auto;
      margin-right: auto;
    }

    .teamName{
      line-height: 2.5rem;
    }

    ul {
      list-style-type: none;
      height: 100%;
      width: 100%;
      padding-left: 0;

      .listItem {
        text-align: left;
        margin: 5px 0 5px 0;
        padding: 5px;
        border: 1px black solid;
        border-radius: 5px;
        height: 11%;
        display: flex;
        align-items: center; // 水平居中
        justify-content: center;
        width: 100%;
        background: #e7e7ad;

        

        .itemName {
          width: 50%;
          font-size: 1.1rem;
          
        }
        .liveBtnVisible {
          visibility: visible;
        }
        
        .liveBtnHidden {
          visibility: hidden;
        }
        .liveBtn{
          background-color: red;
          color: white;
          font-weight:bold;
          border: none;
          border-radius: 5px;
          margin: 0.5rem;
          padding: 4px 6px;
          cursor: pointer;
          animation: heartbeat 2s infinite;
        }
        @keyframes heartbeat {
          0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.1);
          }
          100% {
            transform: scale(1);
          }
        }
        
        .itemPic{
          img{
            height: 50px;
            width: 50px;
  
            @media only screen and (max-width: 768px) {
              height: 40px;
              width: 40px;
            }
  
            @media only screen and (max-width: 480px) {
              height: 40px;
              width: 40px;
            }
          }
        } 
        .itemPoint{
          width: 21%;
          text-align: center;
        }
      }
    }

    .totalPoint {
      font-size: large;
      font-weight: bold;
    }
  }
}
