.tabs {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin: 0 auto;
 
  button {
    flex: 1;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    background-color: #bbbbbb;
    border: none;
    border-radius: 5px 5px 0 0;
    border-bottom:2px black solid;
    &.active{
      background-color: rgb(242,245,249);;
      border: 2px black solid;
      border-bottom: none;
      border-radius: 5px 5px 0 0;
    }
  }
}
  
